<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miyoideal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".MiPerfilActivity"
            android:label="@string/title_activity_mi_perfil" >
        </activity>
        <activity
            android:name=".EjercicioActivity"
            android:label="@string/title_activity_ejercicio" >
        </activity>
        <activity
            android:name=".CalendarioActivity"
            android:label="@string/title_activity_calendario" >
        </activity>
        <activity
            android:name=".DietaActivity"
            android:label="@string/title_activity_dieta" >
        </activity>
        <activity
            android:name=".ShareActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name=".SelecDieta"
            android:label="@string/title_activity_selec_dieta" >
        </activity>
        <activity
            android:name=".ComparativeActivity"
            android:label="@string/title_activity_comparative" >
        </activity>

        <service android:name=".extra.MyService" >
        </service>

        <receiver android:name=".messageReceiver" >
        </receiver>
        <receiver android:name=".extra.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".extra.DialyNotificationReceiver" >
        </receiver>
		<meta-data android:name="com.facebook.sdk.ApplicationId"
   		    android:value="@string/facebook_app_id"/>
        <activity
            android:name=".DisclaimerActivity"
            android:label="@string/title_activity_disclaimer" >
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:label="@string/title_activity_tutorial" >
        </activity>
        <activity
            android:name=".EstadisticasActivity"
            android:label="@string/title_activity_estadisticas" >
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
          android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
          android:theme="@android:style/Theme.Translucent.NoTitleBar"
          android:label="@string/app_name"/>
        <provider android:authorities="com.facebook.app.FacebookContentProvider1597893253758886"
          android:name="com.facebook.FacebookContentProvider"
          android:exported="true" />
	    <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fdc9dc18a1f62e0c9837ee2e4a063bd06b64f10f" />
    </application>
</manifest>
